<nav class="navbar navbar-light bg-light">
  <div class="container-fluid" style="background-image: url('assets/ssst2.jpg'); background-repeat: no-repeat; background-position: center; padding: 50px" ></div>

  <div class="container-fluid" style="padding: 10px" >
    <button class="btn btn-primary" routerLink="/create-data" style="background: #C5C6CA; color: black; padding: 10px;" >Add To Sheet</button>
    <button class="btn btn-primary" routerLink="/create-data" style="background: #C5C6CA; color: black; padding: 10px;" >Class Name: Software Engineering</button>
    <button class="btn btn-primary" routerLink="/login" style="background: #C5C6CA; color: black; padding: 10px;" >Log Out</button>
  </div>
</nav>

<div class="container mt-5">
  <table class="table table-dark table-striped">
    <thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Time</th>
        <th scope="col">ID</th>
        <th scope="col">FirstName</th>
        <th scope="col">LastName</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let datum of data; let i = index ">
        <th scope="row">{{datum.Date}}</th>
        <td>{{datum.Time}}</td>
        <td>{{datum.ID}}</td>
        <td>{{datum.FirstName}}</td>
        <td>{{datum.LastName}}</td>
        <td (click)="editSheet(i)"><button class="btn btn-secondary">Edit</button></td>

        <td (click)="deleteSheet(i)"><button class="btn btn-danger">Delete</button></td>
      </tr>
    </tbody>
  </table>
</div>
