<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <button class="btn btn-primary" routerLink="/list-data">Home</button>
  </div>
</nav>

<div class="container mt-5">
  <form [formGroup]="updateSheetForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="Date" class="form-label">Date</label>
      <input type="text" class="form-control" id="Date" placeholder="Date" formControlName="Date">
    </div>

    <div class="mb-3">
      <label for="Time" class="form-label">Time</label>
      <input type="text" class="form-control" id="Time" placeholder="Time" formControlName="Time">
    </div>

    <div class="mb-3">
      <label for="FirstName" class="form-label">First Name</label>
      <input type="text" class="form-control" id="FirstName" placeholder="FirstName" formControlName="FirstName">
    </div>

    <div class="mb-3">
      <label for="LastName" class="form-label">Last Name</label>
      <input type="text" class="form-control" id="LastName" placeholder="LastName" formControlName="LastName">
    </div>

    <button [disabled]="updateSheetForm.invalid || updateSheetForm.pristine"
      class="btn btn-success mt-3">Submit</button>

  </form>
</div>
