<nav class="navbar navbar-light bg-light">
  <div class="container-fluid" style="background-image: url('assets/ssst2.jpg'); background-repeat: no-repeat; background-position: center; padding: 50px" ></div>

  <div class="container-fluid" style="padding: 10px" >
    <button class="btn btn-primary" routerLink="/list-data" style="background: #C5C6CA; color: black; padding: 10px;" >Class Sheet</button>
    <button class="btn btn-primary" routerLink="/create-data" style="background: #C5C6CA; color: black; padding: 10px;" >Class Name: Software Engineering</button>
    <button class="btn btn-primary" routerLink="/login" style="background: #C5C6CA; color: black; padding: 10px;" >Log Out</button>
  </div>
</nav>

<div class="container mt-5">
  <form [formGroup]="googleSheetForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="Date" class="form-label">Date</label>
      <input type="text" class="form-control" id="Date" placeholder="Date" formControlName="Date">
    </div>

    <div class="mb-3">
      <label for="Time" class="form-label">Time</label>
      <input type="text" class="form-control" id="Time" placeholder="Time" formControlName="Time">
    </div>

    <div class="mb-3">
      <label for="ID" class="form-label">ID</label>
      <input type="text" class="form-control" id="ID" placeholder="ID" formControlName="ID">
    </div>

    <div class="mb-3">
      <label for="FirstName" class="form-label">First Name</label>
      <input type="text" class="form-control" id="FirstName" placeholder="FirstName" formControlName="FirstName">
    </div>

    <div class="mb-3">
      <label for="LastName" class="form-label">Last Name</label>
      <input type="text" class="form-control" id="LastName" placeholder="LastName" formControlName="LastName">
    </div>

    <button class="btn btn-success mt-3">Submit</button>

  </form>
</div>
